.purp {
  width: 200px;
  height: 16px;
  margin: 10px 28px 6px 2px;
  font-family: GothamBook !important;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.Type {
  width: 120px;
  height: 16px;

  font-family: GothamBook !important;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.09px;
  color: #4a4a4a;
}
.TypeName {
  width: 120px;
  height: 16px;

  font-family: GothamBook !important;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.09px;
  color: #262262 !important;
}
.Cathryn-Peltz {
  width: 200px;
  height: 16px;
  margin: 4px 28px 10px 2px !important;
  font-family: Gotham;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262 !important;
}
.divide {
  width: 1px;
  height: 520px !important;
  margin: 30px 29.5px 39px;
  border: solid 1px #4a4a4a;
}
.TransAmerican-Consor {
  width: 200px;
  height: 16px;
  margin: 10px 28px 10px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.Partner {
  width: 200px;
  height: 16px;
  margin: 4px 28px 16px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.ReqType {
  width: 200px;
  height: 16px;
  margin: 8px 28px 10px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.id {
  width: 200px;
  height: 16px;
  margin: 2px 28px 18px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.email {
  width: 200px;
  height: 16px;
  margin: 10px 28px 8px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.contact {
  width: 200px;
  height: 16px;
  margin: 6px 28px 10px 2px !important;
  font-family: GothamBook !important;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #262262;
}
.astoverview {
  width: 110px;
  height: 16px;

  font-family: GothamBook !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.1px;
  color: #4a4a4a !important;
}
