$primary-color: #4a4a4a;
$secondary-color: red;
$orange-color: #f7ab71;
$yellow-color: #ffdc7b;
$tale-green: #c9db85;
$tale-blue: #7ac79d;
$purple: #262262;
$grey: #4a4a4a;
$blue: #1d70be;
$green: #069389;
$light-blue: #1e70b9;
$tale-grey: #a4a4a4;
$tale-white: #cecece;
$footer-color: #216fb4;
